
body, html{
  height: 100%;
background-repeat: no-repeat;
font-family: sans-serif;

}
body{
margin: 0px !important;
}

h1.title { 
font-size: 30px;

}

hr{
width: 10%;
color: #fff;
}

.form-group{
margin-bottom: 15px;
}

label{
margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
 font-size: 16px;
 padding-top: 3px;
 color:black;
}

.main-login1{
background-color: #fff;
 /* shadows and rounded borders */
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
margin-top: 30px;
   margin: 0 auto;
 max-width: 590px;
 padding: 40px 40px;
 text-align: center;


}

.login-button{
margin-top: 5px;
}

.login-register{
font-size: 11px;
text-align: center;
}
.panel-heading{
width: 100%;
 display: block;
 padding-top: 10px;
 padding-left: 8px;
 border-bottom: 1px solid #e0e0e0;
 height: 65px;
 background: #f7f7f7;
}
.title{
/* margin-top: 4px; */
margin-left: 5%;
}
small{
font-weight: 100;
 color: #a79a9aad;
}
.text-center{
text-align: center;
}
.form-group{
display: flex;
 justify-content: space-around;
}
.input-group{
height: auto;
 width: 360px;
 margin-left: 12px;
}
input{
 width: 100%;
 height: 40px !important;
 border-radius: 4px;
 border: 1px solid #ccc;
 padding: 6px 12px;
 font-size: 16px;
 color: #555;
 outline: none;
}
.control-label{
  padding-top: calc(0.375rem + 1px);
 padding-bottom: calc(0.375rem + 1px);
 margin-bottom: 0;
 font-size: inherit;
 line-height: 1.5;
 color: #777;
}
.col-sm-2{
width: 20%;
}
.col-sm-10{
width: 80%;
}
.btn-primary {
 color: #fff;
 background-color: #337ab7;
 border-color: #2e6da4;
}
.btn {
 display: inline-block;
 margin-bottom: 0;
 font-weight: 400;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
 cursor: pointer;
 background-image: none;
 border: 1px solid transparent;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 border-radius: 4px;
 
}

.login-button{
width: 80%;
 margin: 0px 0px 0px 80px;
 padding: 10px;
 font-size: 20px;
}

.login-separator-wrapper {
 margin-bottom: 32px;
}
.login-separator-component {
 display: flex;
 justify-content: center;
 align-items: center;
}
.login-separator-component.split-line .separator-line {
 width:160px;
 border: 0.5px solid #c5c7d0;
 margin: 16px;
}
.btn-outline{
border: 1px solid lightgray;
background-color: white;
}

.login-separator-component .separator-line {
 width: 540px;
 height: 0;
 border: 0.1px solid #eee;
 margin: 16px;
}
.signup-text {
 text-align: center;
 margin-bottom: 4px;
 display: block;
 line-height: 20px;
}
.mt-4{
margin-top: 2rem;
}
section{
width: 100%;
display: block;
overflow-x: hidden;
}
a{
line-height: 1.5;

 text-decoration: none;
 cursor: pointer;
 color: #1f76c2;

}
.input-group-text{
  border-radius: 0px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
.input-group{
height: auto;
 width: 100%;
 margin-left: 0px;
}
.col-sm-2{
width: 100%;

}
.control-label{
display: none;
   
}
.col-sm-10{
width: 100%;
}
.login-separator-component.split-line .separator-line {
 width: 70px;
 border: 0.5px solid #c5c7d0;
 margin: 16px;
}
.login-button {

 margin: 0px 0px 0px 20px;
 
}
}
